<div class="page-header">
  <h1>Editing profile</h1>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <%= image_tag "https://dl.dropboxusercontent.com/u/49026543/#{@user.email.split('@')[0]}.jpg", width: "150", heigth: "150", alt: @user.full_name, class: "img-thumbnail" %>
  </div>
  <div class="col-md-2">
    <%= link_to "Report picture problem", "mailto:meetingapp.dev@gmail.com?subject=[Kelloggbook Picture] #{@user.full_name} | ##{@user.id}&body=Please specify what is the problem with your picture", class: "btn btn-sm btn-primary" %>
  </div>
</div>
<div class="row">
  &nbsp;
</div>

<%= form_tag(user_url(@user), method: 'patch', class: 'form-horizontal') do %>

  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :first_name, @user.first_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :last_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :last_name, @user.last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 col-md-offset-2">
      <%= radio_button_tag :jv_presence, true, @user.jv_presence? %> Include my JV's name
    </div>
    <div class="col-md-3 ">
      <%= radio_button_tag :jv_presence, false, !@user.jv_presence %> Don't include my JV's name
    </div>
  </div>

  <div id="jv_first" class="form-group">
    <%= label_tag :jv_first_name, "My JV's first name", class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :jv_first_name, @user.jv_first_name, class: 'form-control' %>
    </div>
  </div>

  <div id="jv_last" class="form-group">
    <%= label_tag :jv_last_name, "My JV's last name", class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :jv_last_name, @user.jv_last_name, class: 'form-control' %>
    </div>
  </div>
  <% unless (@user.right == 1) %>
    <div class="form-group">
      <%= label_tag :program_id, nil, class: 'col-md-2 control-label' %>
      <div class="col-md-6">
        <%= select_tag :program_id, options_from_collection_for_select(@programs, :id, :name, @current_program), class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= label_tag :section_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :section_id, options_from_collection_for_select(@sections, :id, :name, @current_section), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <% if (@user.right == 1) %>
      <%= label_tag :kwest_attended, "What school are you on exchange from?", class: 'col-md-2 control-label' %>
    <% else %>
      <%= label_tag :kwest_attended, "Which KWEST trip did you attend?", class: 'col-md-2 control-label' %>
    <% end %>
    <div class="col-md-6">
      <%= text_field_tag :kwest_attended, @user.kwest_attended, class: 'form-control' %>
    </div>
  </div>
  <% unless (@user.right == 1) %>
    <div class="form-group">
      <%= label_tag :kwest_led, "Which KWEST trip did you lead?", class: 'col-md-2 control-label' %>
      <div class="col-md-6">
        <%= text_field_tag :kwest_led, @user.kwest_led, class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= label_tag :quote, "Message to myself in 2024", class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :quote, @user.quote, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
      The above information is correct and ready for publication
    </div>
    <div class="col-md-6 align-left">
      <%= check_box_tag :agreement, true, @user.agreement? %>
      <%= label_tag :agreement, "By checking this box, I hereby agree with the below waiver", class: 'control-label' %>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-2 align-left bottom-space">
    <strong>WAIVER<br></strong>
    I hereby grant permission to the Kellogg Photography Club (KPC) and the Kellogg School of Management (KSM) to use my likeness and/or that of my family, whether through the use of digital or print photographs, or other media, for KPC's Portrait project and other promotional purposes. I understand that my likeness may be used in KSM and KPC's publications, literature, the internet, or other visual means that KSM and KPC may choose to use to promote the Portrait project, and other future KSM and KPC activities.
    In connection with the above paragraph, I hereby release and waive any claim I may have against the KSM and KPC, its officers, or members.
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Save Update", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
