<div class="page-header">
  <h1>Editing profile</h1>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <%= image_tag "https://dl.dropboxusercontent.com/u/49026543/#{@user.email.split('@')[0]}.jpg", width: "150", heigth: "150", alt: @user.full_name, class: "img-thumbnail" %>
  </div>
  <div class="col-md-2">
    <%= link_to "Report picture problem", "mailto:meetingapp.dev@gmail.com?subject=[Kelloggbook Picture] #{@user.full_name} | ##{@user.id}&body=Please specify what is the problem with your picture", class: "btn btn-sm btn-primary" %>
  </div>
</div>
<div class="row">
  &nbsp;
</div>

<%= form_tag(user_url(@user), method: 'patch', class: 'form-horizontal') do %>

  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :first_name, @user.first_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :last_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :last_name, @user.last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :program_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :program_id, options_from_collection_for_select(@programs, :id, :name, @current_program), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :section_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :section_id, options_from_collection_for_select(@sections, :id, :name, @current_section), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :quote, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :quote, @user.quote, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
      The above information is correct and ready for publication
    </div>
    <div class="col-md-6">
      <%= check_box_tag :agreement, true, @user.agreement? %>
      <%= label_tag :agreement, "I agree for this information to be published", class: 'control-label' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Save Update", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
