<div class="page-header">
  <h1>Welcome <%= @user.full_name %></h1>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>My Picture</strong>
  </div>
  <div class="col-md-8">
    <%= image_tag "https://dl.dropboxusercontent.com/u/93626631/portrait/#{@user.email.split('@')[0]}.jpg", width: "150", heigth: "150", alt: @user.full_name, class: "img-thumbnail" %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>My Name</strong>
  </div>
  <div class="col-md-8">
    <%= @user.full_name %>
  </div>
</div>

<% if @user.jv_presence? %>
<div class="row">
  <div class="col-md-2">
    <strong>My JV's name</strong>
  </div>
  <div class="col-md-8">
    <%= @user.jv_full_name %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-2">
    <strong>My Program</strong>
  </div>
  <div class="col-md-8">
  <% if (@user.right == 1) %>
    On exchange from
    <% if @user.kwest_attended.present? %>
      <%= @user.kwest_attended %>
    <% end %>
  <% else %>
    <% if @user.program.present? %>
      <%= @user.program.name %>
    <% end %>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>My Section</strong>
  </div>
  <div class="col-md-8">
    <% if @user.section.present? %>
      <%= @user.section.name %>
    <% end %>
  </div>
</div>

<% if @user.kwest_attended? %>
<div class="row">
  <div class="col-md-2">
    <strong>My KWEST trip was</strong>
  </div>
  <div class="col-md-8">
    <%= @user.kwest_attended %>
  </div>
</div>
<% end %>

<% if @user.kwest_led? %>
<div class="row">
  <div class="col-md-2">
    <strong>I led a KWEST trip to</strong>
  </div>
  <div class="col-md-8">
    <%= @user.kwest_led %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-2">
    <strong>My Quote</strong>
  </div>
  <div class="col-md-8">
    "<em><%= @user.quote %></em>"
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <strong>Publication Agreement</strong>
  </div>
  <div class="col-md-8">
    <% if @user.agreement? %>
      All the above information is correct and I agree with it being published
    <% else %>
      I <u>do not agree</u> with the above information being published
    <% end %>
  </div>
</div>
<div>&nbsp;</div>
<%= link_to "Update profile", edit_user_url(@user.id), class: "btn btn-primary" %>
